.App {
  width: 710px;
  padding: 5px 0;
  margin: 200px auto;
  border: 1px solid black;
  position: relative;
  border-radius:10px;
}

hr{
  margin: 5px 0;
}



.successContainer {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 0;
  right: -10px;
  left: -10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.successWindow {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: #47c9a2;
  height: 300px;
  width: 100%;
}

.successWindow h2 {
  font-size: 1.4rem;
}

.successWindow h2:hover {
  cursor: default;
}

.close {
  font-size: 30px;
  position: absolute;
  right: 13px;
  top: 5px;
}

.close:hover {
  cursor: pointer;
}